<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.classplus_find.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_classplus_find"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.student.Details"></activity>
        <activity android:name=".ui.student.CourseActivityStudent" />
        <activity android:name=".ui.student.BatchActivityStudent" />
        <activity android:name=".ui.tutor.CourseActivity" />
        <activity android:name=".ui.tutor.BatchActivity" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.signup.SignInActivity" />
        <activity android:name=".ui.signup.ChooseUserActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>